// ==========================================================================
// Config
// ==========================================================================

// --------------------------------------------------------------------------
// Colours
// --------------------------------------------------------------------------

$brand-color-a: '#000';
$brand-color-b: '#111';
$brand-color-c: '#222';

$text-color: '#444';

// --------------------------------------------------------------------------
// Typography
// --------------------------------------------------------------------------

$font-family-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-headings: 'Helvetica Neue', Helvetica, Arial, sans-serif;
