{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "es6": true,
        "jquery": true
    },
    "globals": {

    },
    "extends": "crockford",
    "rules": {
        "quotes": [2, "single"]
    }
}
